header{
    background-color: #015587;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    gap: 40px;
    margin-right: 100px;
}
nav a{
    text-decoration: none;
    color: white;
}

#hamburger-menu{
    display: none;
}