header{
    background-color: var(--dark-blue);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: var(--white);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    gap: 40px;
    margin-right: 100px;
}
nav a{
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 5px;
}
nav a:hover{
    color: var(--light-blue);
    border-bottom: 1px solid var(--light-blue);
}
nav a:last-child{
    color: gold;
}
nav a:last-child:hover{
    border-bottom: 1px solid gold;
}


#header-logo{
    height: 55px;
}

#hamburger-menu{
    display: none;
}

#close-icon{
    display: none;
}

.mobile-navigation{
    display: none;
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
    
    *{
        overflow: hidden;
        max-width: 100%;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 5px 20px;
    }
    .header-title{
        margin: 0;
    }
    .header-title h1{
        display: none;
    }
    
    #hamburger-menu{
        display: block;
        width: 40px;

    }
    nav{
        display: none;
    }
    .mobile-navigation{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-blue);
        border-top: 1px solid var(--light-blue);
        padding: 20px 0;
    }
    .mobile-navigation a{
        color: var(--white);
    }

    #close-icon{
        display: none;
        width: 40px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1100px) {
    header{
        display: flex;
        justify-content: space-between;
    }
    .header-title{
        font-size: 13px;
        width: 200px;
        margin-left: 8px;
    }
    nav{
        margin: 0;
        gap: 5px;
    }
    nav a{
        font-size: 19px;
        font-weight: 700;
    }
    nav a:hover{
        color: var(--light-blue);
        border-bottom: 1px solid var(--light-blue);
    }
    nav a:last-child{
        color: gold;
    }
    nav a:last-child:hover{
        border-bottom: 1px solid gold;
    }
}