.hero-section{
    display: flex;
    height: 800px;
    background-image: url(./../../assets/images/dump-team.webp);
    background-position: center;
    background-size: cover;   
    box-shadow: 0px 4px 4px 0px #00000040,inset 0 0 0 1000px rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-section h2{
    color: var(--white);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.579);
    font-size: 45px;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {

    .hero-section h2{
        font-size: 30px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {

    .hero-section h2{
        font-size: 35px;
    }
}
