/* definitions */
@import "./definitions/fonts.css";
@import "./definitions/colors.css";

/* sections */
@import "./sections/header.css";
@import "./sections/hero-section.css";
@import "./sections/schedules-intro.css";
@import "./sections/schedules.css";
@import "./sections/admin-panel.css";


*{
    font-family: "Fuse";
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
}

.preview-tooltip {
    display:flex;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    color: #000;
    background-color: #fff;
    overflow: hidden;
}
  
.preview-tooltip div {
    padding: 4px 8px;
}
  
