/* definitions */
@import "./definitions/fonts.css";
@import "./definitions/colors.css";

/* sections */
@import "./sections/header.css";
@import "./sections/hero-section.css";
@import "./sections/schedules-intro.css";
@import "./sections/schedules.css";


*{
    font-family: "Fuse";
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
}
